/* * {
    outline: 1px solid red;
} */

body { 
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
}

header{
    height: 2vh;
}
main{
    flex-grow: 1;
} 

.item-bg {
    background-image: url('main-bg.png');
    background-size: cover;
}